<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113146790-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113146790-1');
  </script>
  <meta charset="UTF-8">
  <title>PyDados - Python para Futuros Profissionais de dados</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://adm.python.pro.br/static/vendor/assets/components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://adm.python.pro.br/static/assets/stylesheet/default.css"/>
  <link rel="stylesheet" href="https://adm.python.pro.br/static/css/default.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <title>pyDados - Python para Ciência de Dados</title>
  <meta name='og:image' content='https://i.imgur.com/PS5AgzJ.png'>
  <meta name='og:title' content='Se inscreva para receber novidades do nosso minicurso de Pandas!'>
  <meta name='og:description' content='O Pandas é uma biblioteca de manipulação de dados tabulares muito usada no mundo do data-science! Se inscreva no minicurso e aprenda a usa-la!'>
    </head>
<body class="home-page">
    <div class="colors-pallet hidden-sm hidden-xs">
    <div class="color-2 pallet"></div>
    <div class="color-3 pallet"></div>
    <div class="color-4 pallet"></div>
  </div>
  <header class="main-header">
    <h1 class="lead-principal">
      <strong class="lead-principal-highlight" style="font-weight: 100; color: #9fd25f;">py</strong><span style="color: #15b3f2; font-weight:bold;">Dados</span>
    </h1>

    <h2 class="lead-sub" style="padding-top: 10px;">Python para Ciência de Dados</h2>
  </header>
  <section class="main-content container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
  <h2 style="text-align:center;">Se inscreva para novidades de nosso minicurso de Pandas</h2>
  <p style="text-align:center;">Inscreva-se e tenha acesso aos detalhes de nosso minicurso de Pandas para data science.</p>
  <br/>
    <form action="https://pydados.us17.list-manage.com/subscribe/post?u=41ae2f25d52feb419f7d1531f&amp;id=714c01efeb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    	<input type="text" placeholder="Seu primeiro nome" name="FNAME" class="" id="mce-FNAME" style="width:100%;margin-bottom:5px;">
    <br>
  	<input type="email" placeholder="Digite seu melhor e-mail aqui" name="EMAIL" class="required email" id="mce-EMAIL" style="width:100%;">
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_41ae2f25d52feb419f7d1531f_714c01efeb" tabindex="-1" value="">
      </div>
      <div class="clear"><input type="submit" value="Se inscreva" name="subscribe" id="mc-embedded-subscribe" style="margin-top:10px;" class="btn btn-success btn-lg btn-enroll"></div>
  </form>
    </p>
</div>
        </section>
        <section>
          <header class="page-header">
            <h1 class="text-center">Conheça os detalhes do nosso minicurso de Pandas</h1>
          </header>
          <div class="container">
            <div class="col-md-9">
              <ul>
                <li style="font-size:20px">Aprenda as manipulações básicas dos formatos de arquivo mais comuns</li>
                <li style="font-size:20px">Entenda os formatos básicos de dados tabulares como <i>Series</i> e <i>Dataframe</i></li>
                <li style="font-size:20px">Entenda como transformar listas e dicionários em objetos Pandas</li>
                <li style="font-size:20px">Aprenda a manipular dados tabulados</li>
                <li style="font-size:20px">Aplique funções a colunas e linhas de seu <i>dataframe</i></li>
                <li style="font-size:20px">E muito mais</li>
              </ul>
            </div>
            <div class="col-md-3">
              <img src="https://vignette.wikia.nocookie.net/vampirewars/images/d/dc/Karate_Panda.png/revision/latest?cb=20120508181623" alt="Pandas e Python">
            </div>
          </div>

        </section>
          <header class="page-header">
            <h1 class="text-center">Conheça o Instrutor</h1>
          </header>
          </header>
          <div class="container">
                          <div style="margin: auto auto 0 0; text-align: center">
                  <figure class="instructor">
    <img src="https://i.imgur.com/2L3YpDI.jpg" alt="" class="instructor-avatar">
    <figcaption>
      <h3 class="instructor-name">Vinicius Mesel</h3>

      <p>Cursa Engenharia da Computação na FIAP.
        Engenheiro de Software e pesquisador de bioinformática, é usuário de Python desde 2014. Trabalha na Cognitivo.ai como engenheiro de software, onde é responsável pelo gerenciamento de qualidade, desenvolvimento de softwares e desenvolvimento de algoritmos de machine learning de grande escalabilidade.
        Também desempenha a função de iniciação científica no Instituto Butantan desde 2016, onde estuda a análise de machine learning para dados experimentais biológicos (phagedisplay, RNA-seq, DNA-seq e outras técnicas). Já palestrou em eventos como Python Brasil, The Developers Conference 2017, Campus Party e eventos do grupo de usuário de Python de São Paulo.
      </p>
    </figcaption>
  </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

<footer class="main-footer">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-6">
          <h3>Entre em contato</h3>
          <address class="main-address">
            <a href="mailto:viniciuscarqueijo@gmail.com">viniciuscarqueijo@gmail.com</a><br/>
          </address>
        </div>
      </div>
    </div>
  </div>
  <div class="rights">
    <div class="container">
      <div class="col-md-9 col-md-offset-1">
        <p>2018 PyDados. Todos os direitos reservados - Agradecimentos ao <a href="http://adm.python.pro.br" target="_blank">Python.pro.br</a> pelo template</p>
      </div>

    </div>
  </div>
</footer>

</body>
</html>
